<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a third-year Computer Science and Microelectronics Engineering student at
      <a class="underline-link" href="https://www.mines-stetienne.fr/" target="_blank">Ecole des Mines de Saint-Etienne</a>. 
      I’m expected to graduate by Fall 2024 with a double degree since I already completed two years of undergraduate 
      Electrical engineering studies at <a class="underline-link" href="http://www.ehtp.ac.ma/" target="_blank">Ecole Hassania des Travaux Publics</a>.
    </p>

    <p>
      I'm driven by my strong appetite for <strong>ML</strong> and <strong>Data Science</strong>. And I enjoy bridging the gap between engineering and design &mdash; I love to illustrate complex concepts into simple
      and beautiful illustrations. I'm still working on building scalable ML models that are robust and ethical
      with appealing user-friendly interfaces.
    </p>

    <p>
      <strong>When I'm not in front of my computer screen</strong>, I'm usually creating designs on Canva, working on extracurricular activities,
      learning new korean words or working out in the gym.
    </p>

    {% include employment-status.html %}
  </div>
</section>
