<section class="section featured-projects">
  <div class="section__title">Extracurricular Activities</div>
  <div class="section__content">
    <div class="project JMP">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.linkedin.com/company/junior-mines-provence/posts/?feedView=all" target="_blank" rel="noopener">Junior Mines Provence computer science consultant</a>
        </div>
        <div class="project__description">
          <p>During this mission, I got to work on JMP missions and benefit from their different trainings and conferences.</p>
        </div>
      </figcaption>
    </div>

    <div class="Techstars">
      <figcaption class="project__pic">
        <div class="project__name">
        <a href="https://www.linkedin.com/posts/chrismindenhall_techstars-startup-weekend-women-dublin-will-ugcPost-6914253202825580544-XA4K/?utm_source=share&utm_medium=member_desktop" target="_blank" rel="noopener">TechStars Startup Weekend Social Innovation Dublin 2023</a>
      </div>
        <p>Winner of 3rd place alongside Open Trellis Team. We worked in line with United Nations Sustainable Development Goal (SDG) number 8: "Decent Work and Economic Growth." 🌍📈</p>
      </figcaption>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.linkedin.com/posts/chrismindenhall_techstars-startup-weekend-women-dublin-will-ugcPost-6914253202825580544-XA4K/?utm_source=share&utm_medium=member_desktop" target="_blank" rel="noopener">TechStars Startup Weekend Women Dublin 2022</a>
        </div>
          <p>It is a 3-day interactive event for people who want to test/validate and explore their business ideas while learning new skills from workshops, getting advice from mentors, and networking.</p>
      </figcaption>
    </div>

    <div class="Enactus">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://enactus.org/" target="_blank" rel="noopener">Project Manager at Enactus EHTP</a>
        </div>
        <div class="project__description">
          <p>I lead strategic planning, and ensure the project stays aligned with our social impact goals. My role involved managing resources, fostering collaboration, and driving initiatives that create sustainable and positive change.</p>
        </div>
      </figcaption>
    </div>
  </div>
</section>