<section class="section featured-projects">
  <div class="section__title">Extracurricular Activities</div>
  <div class="section__content">
    <div class="project JMP">
      <figure class="project__pic">
        <a href="https://play.google.com/store/apps/details?id=dewulftom.citamoove" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/citamoove/cita1.png" alt="" style="width: 200px; height: 150px;>
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/cita2.png" alt="" style="width: 200px; height: 150px;>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.linkedin.com/company/junior-mines-provence/posts/?feedView=all" target="_blank">Junior Mines Provence computer science consultant</a>
        </div>
        <p>During this mission, I got to extend the Citamoove application's functionalities from Paris to the Ile-de-France region using the AirParif API to display the NO2, O3, PM10, PM25 and SO2 pollution indices.
          I also modificed the application's icon, and deployed it on Apple Store and Google Play Store.</p>
      </figcaption>
    </div>

    <br>
    <div class="Techstars">
      <figure class="project__techstars">
        <a href="https://www.linkedin.com/posts/chrismindenhall_techstars-startup-weekend-women-dublin-will-ugcPost-6914253202825580544-XA4K/?utm_source=share&utm_medium=member_desktop" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/techstars/techstars1.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.linkedin.com/posts/chrismindenhall_techstars-startup-weekend-women-dublin-will-ugcPost-6914253202825580544-XA4K/?utm_source=share&utm_medium=member_desktop" target="_blank">TechStars Startup Weekend Women Dublin</a>
        </div>
        <p>It is a 3 days interactive event for people who want to test/validate and explore their business ideas while learning new skills from workshops, getting advices from mentors and networking. During this event, I got to work alonside amazing people from different backgrounds and cultures to work on our "Loud Introverts" app idea and pitch it to judges. We worked together on: the Business Model, Customer Validation, the Excecution and the Design.</p>
      </figcaption>
    </div>

    <br>
    <div class="Digigirlz">
      <figure class="project__pic">
        <a href="" target="_blank">
          <div class="digi">
            <img src="{{site.baseurl}}/img/featured/digigirlz/Q&A_with_KimDiep.jpeg" alt="">
          </div>
          <div class="digi">
            <img src="{{site.baseurl}}/img/featured/digigirlz/TommyTho_JSworkshop.png" alt="">
          </div>
          
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">DigiGirlz Mentorship Program</a>
        </div>
        <p> I was the team leader of my digiGirlz team, a team of 4 mentors and 20 mentees. Alongside my colleagues, we managed to demystify the Tech world to our mentees and inspire them to take part in it. We organized many workshops and Q&A sessions. I successfully invited 2 software engineers from Oxford and British Columbia to share their experiences and expertise with the team. 
       </p>
      </figcaption>
    </div>
  </div>
</section>
