<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Aya El Janoussi</span>, a creative Computer Science and Microelectronics engineering student passionate about Machine Learning, Data Science &amp; Entrepreneurship
    <span class="emoji rocket animated"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:aya.eljanoussi@gmail.com" target="_blank" class="highlight-link">aya.eljanoussi@gmail.com</a>
    </span>
  </h3>
</header>
